{% extends 'aibf/elements/layouts/admin.html' %}
{% load static %}
        
{% block additional_css %}
{% endblock %}
        
{% block content %}
<!--**********************************
    Content body start
***********************************-->

<!--**********************************
    Content body end
***********************************-->
{% endblock %}

{% block additional_js %}
<script>
    $(".perfil-tools-box").on('click', function () {
        $(' .perfil-left-body ,.perfil-tools-box').toggleClass("active");
    });
</script>
{% endblock %}