<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
	{% load static custom_tags %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="DexignLab" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ dz_array.public.description }}" />
	<meta property="og:title" content="{{ dz_array.public.og_title }}" />
	<meta property="og:description" content="{{ dz_array.public.og_description }}" />
	<meta property="og:image" content="{{ dz_array.public.og_image }}" />
	<meta name="format-detection" content="telephone=no">


	<!-- PAGE TITLE HERE -->
	<title>{{ dz_array.public.title }}</title>
	
	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="{% static dz_array.public.favicon  %}" />
	{% for cssurl in dz_array.pagelevel.aibf.aibf_views.css|getdata:request.path %}
	<link rel="stylesheet" href="{% static cssurl %}" >
	{% endfor %}
	{% for cssurl in dz_array.global.css %}
	<link rel="stylesheet" href="{% static cssurl %}">
	{% endfor %}
	{% block additional_css %}
	{% endblock %}

	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0">
	
</head>

<body class="body">
	<div class="authincation d-flex flex-column flex-lg-row flex-column-fluid">
		<div class="login-aside text-center  d-flex flex-column flex-row-auto">
			<div class="d-flex flex-column-auto flex-column pt-lg-40 pt-15">
				<div class="text-center mb-lg-4 mb-2 pt-5 logo">
					<img src="{% static 'logo.png' %}" alt="">
				</div>
				<h3 class="mb-2 text-white">¡Bienvenido!</h3>
				<p class="mb-4">El Forecast No Habia Estado Más Al Alcance</p>
			</div>
			<div class="aside-image position-relative" style="background-image:url= {% static 'fodo.png' %}">
				<img class="img1 move-1" src="" alt="">
				<img class="img2 move-2" src="" alt="">
				<img class="img3 move-3" src="" alt="">
				
			</div>
		</div>
		<div class="container flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
			<div class="d-flex justify-content-center h-100 align-items-center">
				<div class="authincation-content style-2">
					<div class="row no-gutters">
						<div class="col-xl-12 tab-content">
							<div id="sign-up" class="auth-form tab-pane fade show active  form-validation">
								<form action="{% url 'aibf:index' %}">
									<div class="text-center mb-4">
										<h3 class="text-center mb-2 text-dark">Registrate</h3>
										<span>Nuestras Predicciones</span>
									</div>
									
									<div class="sepertor">
										<span class="d-block mb-4 fs-13">Con el perfil</span>
									</div>
									<div class="mb-3">
										<label for="exampleFormControlInput1" class="form-label required">Direccion Correo</label>
									  <input type="perfil" class="form-control" id="exampleFormControlInput1" value="hello@example.com">
									</div>
									<div class="mb-3 position-relative">
										<label class="form-label required">Contraseña</label>
										<input type="password" id="dlab-password" class="form-control" value="123456">
										<span class="show-pass eye">
											<i class="fa fa-eye-slash"></i>
											<i class="fa fa-eye"></i>
										
										</span>
									</div>
									<div class="form-row d-flex justify-content-between mt-4 mb-2">
										<div class="mb-3">
											<div class="form-check custom-checkbox mb-0">
												<input type="checkbox" class="form-check-input" id="customCheckBox1" required="">
												<label class="form-check-label" for="customCheckBox1">Recordar</label>
											</div>
										</div>
										<div class="mb-4">
											<a href="{% url 'aibf:page-forgot-password' %}" class="btn-link text-primary">¿Has Olvidado La Contraseña?</a>
										</div>
									</div>
									<button class="btn btn-block btn-primary">Registrate</button>
									
								</form>
								<div class="new-account mt-3 text-center">
									<p class="font-w500">¿Tienes Cuenta? <a class="text-primary" href="{% url 'aibf:page-login' %}" data-toggle="tab">Registrate</a></p>
								</div>
							</div>
								<div class="d-flex align-items-center justify-content-center">
									<a href="javascript:void(0);" class="text-primary">Terminos</a>
									<a href="javascript:void(0);" class="text-primary mx-5">Planes</a>
									<a href="javascript:void(0);" class="text-primary">Contacta</a>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--**********************************
	Scripts
***********************************-->
<!-- Required vendors -->
{% for jsurl in dz_array.global.js.top %}
<script src="{% static jsurl %}"></script>
{% endfor %}

{% for jsurl in dz_array.pagelevel.aibf.aibf_views.js|getdata:request.path %}
<script src="{% static jsurl %}"></script>
{% endfor %}

{% for jsurl in dz_array.global.js.bottom %}
<script src="{% static jsurl %}"></script>
{% endfor %}

{% block additional_js %}
{% endblock %}
</body>
</html>