<!--ESTÁ LISTO, SOLO FALTA AÑADIR LO QUE QUERAMOS-->
<!--ESTO ES EL MAIL QUE APARECE EN EL MENÚ-->

{% load static %}
<div class="chatbox">
	<div class="chatbox-close"></div>
	<div class="custom-tab-1">
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link" data-bs-toggle="tab" href="#notes">NOTIFICACIONES</a>
			</li>
			<!--li class="nav-item">
				<a class="nav-link" data-bs-toggle="tab" href="#alerts">Alerts</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" data-bs-toggle="tab" href="#chat">Chat</a>
			</li-->
		</ul>
		<div class="tab-content">
			<div class="tab-pane fade active show" id="chat" role="tabpanel">
				<div class="card mb-sm-3 mb-md-0 contacts_card dlab-chat-user-box">
					
					<div class="card-body contacts_body p-0 dlab-scroll  " id="DLAB_W_Contacts_Body">
						<!--AQUI VA EL BUCLE DE LAS NOTIFICACIONES QUE LE ENVIAMOS-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
