{% extends 'jiade/elements/layouts/admin.html' %}
{% load static %}
        
{% block additional_css %}
{% endblock %}
        
{% block content %}
<!--**********************************
	Content body start
***********************************-->

<!--**********************************
	Content body end
***********************************-->
{% endblock %}

{% block additional_js %}
<script>
	$(".fa.fa-star").click(function () {
		$(this).toggleClass("yellow");
	});
	$(".email-tools-box").on('click', function(){
		$(' .email-left-body ,.email-tools-box').toggleClass("active");
	});
</script>
{% endblock %}